if SHIELD_NMTWS_LEFT

config ZMK_KEYBOARD_NAME
    default "nmtWS"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_NMTWS_LEFT || SHIELD_NMTWS_RIGHT

config ZMK_SPLIT
    default y

endif
