#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define SYMBNAV 1
#define NUMPADF 2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
// .------------.------------.------------.------------.------------.------------.------------.------------.------------.------------.          
// |   ROW L1   |   ROW L2   |   ROW L3   |   ROW L4   |   ROW L5   |   ROW R1   |   ROW R2   |   ROW R3   |   ROW R4   |   ROW R5   |
// .------------.------------.------------.------------.------------.------------.------------.------------.------------.------------.          
    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5       &kp N6       &kp N7       &kp N8       &kp N9       &kp N0
    &kp Q        &kp W        &kp E        &kp R        &kp T        &kp Y        &kp U        &kp I        &kp O        &kp P
    &kp A        &kp S        &kp D        &kp F        &kp G        &kp H        &kp J        &kp K        &kp L        &kp SINGLE_QUOTE 
    &kp Z        &kp X        &kp C        &kp V        &kp B        &kp N        &kp M        &kp COMMA    &kp DOT      &kp RSHIFT
                              &to SYMBNAV  &kp TAB      &kp LGUI     &kp LALT     &kp LCTRL    &to NUMPADF
                                           &kp SPACE    &kp ESC      &kp BSPC     &kp ENTER
            >;
        };

        symbnav_layer {
            bindings = <
// .------------.------------.------------.------------.------------.------------.------------.------------.------------.------------.          
// |   ROW L1   |   ROW L2   |   ROW L3   |   ROW L4   |   ROW L5   |   ROW R1   |   ROW R2   |   ROW R3   |   ROW R4   |   ROW R5   |
// .------------.------------.------------.------------.------------.------------.------------.------------.------------.------------.          
    &none        &none        &kp TILDE    &kp EQUAL    &kp LPAR     &kp RPAR     &kp PLUS     &kp GRAVE    &none        &none
    &none        &none        &kp BSLH     &kp SEMI     &kp LBKT     &kp RBKT     &kp COLON    &kp PIPE     &none        &none
    &none        &kp HOME     &kp PGUP     &kp PGDN     &kp END      &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT    &none
    &none        &kp FSLH     &kp MINUS    &kp LBRC     &none        &none        &kp RBRC     &kp UNDER    &kp QMARK    &none
                              &to DEFAULT  &kp TAB      &kp LGUI     &kp LALT     &kp LCTRL    &to NUMPADF
                                           &kp SPACE    &kp ESC      &kp BSPC     &kp ENTER
            >;
        };

        numpadf_layer {
            bindings = <
// .------------.------------.------------.------------.------------.------------.------------.------------.------------.------------.          
// |   ROW L1   |   ROW L2   |   ROW L3   |   ROW L4   |   ROW L5   |   ROW R1   |   ROW R2   |   ROW R3   |   ROW R4   |   ROW R5   |
// .------------.------------.------------.------------.------------.------------.------------.------------.------------.------------.          
    &kp F1       &kp F2       &kp F3       &kp F4       &none        &none        &kp KP_N7    &kp KP_N8    &kp KP_N9    &kp KP_MINUS
    &kp F5       &kp F6       &kp F7       &kp F8       &none        &none        &kp KP_N4    &kp KP_N5    &kp KP_N6    &kp KP_PLUS
    &kp F9       &kp F10      &kp F11      &kp F12      &none        &none        &kp KP_N1    &kp KP_N2    &kp KP_N3    &kp KP_MULTIPLY
    &none        &none        &none        &none        &none        &none        &none        &kp KP_N0    &kp KP_DOT   &kp KP_DIVIDE
                              &to DEFAULT  &kp TAB      &kp LGUI     &kp LALT     &kp LCTRL    &to SYMBNAV
                                           &kp SPACE    &kp ESC      &kp BSPC     &kp KP_ENTER
            >;
        };
    };
};
